name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Install riscv-toolchain
        run: |
          sudo apt update
          sudo apt install gcc-riscv64-unknown-elf

      - name: Install riscv-testsuite
        run: |
          git clone https://github.com/riscv/riscv-tests
          cd riscv-tests
          git submodule update --init --recursive
          autoconf
          ./configure --prefix=/usr --target=riscv64-unknown-elf
          make
          make install

      - name: Unit tests
        run: cargo t

      - name: Official riscv-tests
        run: RISCV_TESTSUITE=$HOME/riscv-tests ./build.sh riscv-testsuite
